_build
db
deps
*.ez
.elixir_ls
*.beam
erl_crash.dump
.compile.elxir

node_modules
assets/node_modules
priv/static

/config/*.secret.exs.bundle/
*.log
log/*.log
pkg/
log/*
tmp/*
.idea
*~
*\~
*.raw
*.dta
*.~lock*
.*.swp
.DS_Store
newfile
records.csv

